.task-container{ 
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.25rem;
}

.task-container .task-edit, .task-delete, .task-checkBox{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.task-tools{
    display: flex;
    margin-left: auto;
}

.task-Container input{
    background-color: #e5e5e5;
    border: none;
}
.task-Container input:focus{
    outline: none;
}